html {
  background-color:whitesmoke;
}
header {
  background-image: url("resources/pattern.jpg");
  height: 150px;
}

header h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h2 {
  font-family: Helvetica;
  font-size:32px;
  font-weight: bold;
  color:white;
}

.people {
  background-color: mediumspringgreen;
}

.things {
  background-color: lightcoral;
}

.scenary {
  background-color: skyblue;
}

figure {

}

figure {
  width: 20%;
  display: inline-block;
}
figure img {
  max-width: 100%;
}

footer {
  text-align: center;
  border-top: 1px solid black;
  padding-top: 24px;
}

.quoteText {
  font-family: "Merriweather", "Georgia", serif;
  font-size: 14px;
  padding: 0px 5px 10px 0px;
  line-height: 21px;
}

div {
  display: block;
}
